/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* BODY */

body {
	font-family: sans-serif;
	background-color: #eee;
}

/*HEADER*/
.header-search{
	background-color:#292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-search .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-search .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-search .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-search .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-search .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-search .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	opacity: 0.9;
}

.header-search .header-limiter nav a:hover {
	opacity: 1;
}

.header-search .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

nav {
	position: absolute;
	right: 100px;
}


/* The search box */

.header-search .header-limiter form {
	float:left;
	position: relative;
	left: 800px;
	border-radius: 3px;
	background-color:  #3a3c3e;
	width: 44px;
	height: 39px;
	cursor: pointer;

	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* CSS search icon */

.header-search .header-limiter form:before {
	position: absolute;
	content: '';
	border-radius: 50%;
	border: 2px solid #fff;
	width: 9px;
	height: 9px;
	top: 12px;
	left: 14px;
}

.header-search .header-limiter form:after {
	position: absolute;
	content: '';
	background-color: #fff;
	width: 2px;
	height: 8px;
	top: 22px;
	left: 26px;
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
	transform: rotate(-44deg);
}

/* The search box */

.header-search .header-limiter form input {
	display: none;
	position: absolute;
	right: 42px;
	padding: 11px 12px 9px;
	border: none;
	width: 210px;
	border-radius: 2px 0 0 2px;
	height: 39px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


/* CONTENT */

#content {
	padding-top: 20px;
	max-width: 85%;
	margin: 0 auto;
}
#content img {
	border: 1px solid #aaa;
	margin: 10px;
}

/* FOOTER */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}
